<section class="todoapp">
	<header class="header">
		<h1>Welcome!</h1>
	</header>

  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <label><%= link_to "Click here to register", signup_path %></label>
        </div>
      </li>
      <li>
        <div class="view">
          <label><%= link_to "Click here to login", login_path %></label>
        </div>
      </li>
    </ul>
  </section>

	<footer class="footer">
	</footer>
</section>
